.detailsSection {
  color: var(--clr-secondary-700);
  background-color: var(--clr-secondary-100);
  margin: 2rem;
  padding: 2.4rem;
  border-radius: 6px;

  .title {
    color: var(--clr-primary-500);
    margin-top: 0.8rem;
    margin-bottom: 1.2rem;
  }
}

.location {
  margin: 0;
}

.description {
  margin: 3.2rem 0 6.6rem 0;
}

.requirements {
  .reqTitle {
    color: var(--clr-primary-500);
    margin-bottom: 2.8rem;
  }

  .reqList {
    list-style: none;
    padding: 3rem;
    margin-bottom: 4rem;

    li::before {
      content: '•';
      color: var(--clr-primary-100);
      font-weight: bold;
      display: inline-block; /* Needed to add space between the bullet and the text */
      width: 3.2rem;
      margin-left: -1.9em;
    }
  }
}

.role {
  .title {
    color: var(--clr-primary-500);
    font-weight: 700;
    margin-bottom: 2.3rem;
  }

  .content {
    margin-bottom: 3.2rem;
  }

  .list {
    margin-left: 1.1rem;

    li {
      list-style: none;
      padding-left: 2.8rem;
      margin-bottom: 0.8rem;
    }

    li::marker {
      content: counter(list-item) '\a0';
      color: var(--clr-primary-100);
      font-weight: 700;
      display: inline-block;
    }
  }
}

.footer {
  color: var(--clr-secondary-700);
  background-color: var(--clr-secondary-100);
  padding: 2.4rem;
  border-radius: 6px;
}

.applyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-100);
  border-radius: 5px;
  text-align: center;
  height: 4.8rem;

  a {
    color: #ffffff;
    width: 100%;
  }
}
