@import '../variable';

.filterBox {
  border-radius: 15px;
  width: 87%;
  margin: 0 auto;
  margin-top: -4rem;

  form {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 8rem;
    border-radius: 6px;
    padding: 0 3rem 0 2.4rem;
    margin-bottom: 8rem;
    background-color: var(--clr-secondary-100);

    .titleFilter {
      .iconSearch {
        display: none;
        width: 2.4rem;
        height: 2.4rem;
        fill: var(--clr-primary-100);
        @media only screen and (min-width: $md) {
          display: inline-block;
        }
      }
    }

    .locationSearch {
      display: none;
      @media only screen and (min-width: $md) {
        display: flex;
        gap: 1.6rem;
      }
    }
  }

  input {
    border: none;
    outline: none;
    background-color: var(--clr-secondary-100);
  }

  input::placeholder {
    font-size: 1.6rem;
    color: var(--clr-primary-500);
    opacity: 0.5;
  }

  .buttonContainer {
    display: flex;
    gap: 2.4rem;
    align-items: center;

    @media only screen and (min-width: $md) {
      display: none;
    }

    .filterButton {
      outline: none;
      border: none;
      background: none;
      .iconFilter {
        height: 2rem;
        width: 2rem;
        fill: var(--clr-secondary-700);
      }
    }

    .searchButton {
      height: 4.8rem;
      width: 4.8rem;
      border-radius: 5px;
      outline: none;
      border: none;
      background-color: var(--clr-primary-100);
      @media only screen and (min-width: $md) {
        display: none;
      }
    }
  }
}
.mediaSearchButton {
  display: none;
  @media only screen and (min-width: $md) {
    display: inline-block;
  }
}

.checkbox {
  display: none;
  @media only screen and (min-width: $md) {
    display: flex;
  }
}
