.header {
  background: url('../assets/mobile/bg-pattern-header.svg');
  padding: 0 2.4rem;
  padding-top: 3.2rem;
  padding-bottom: 7.2rem;
}

.container {
  display: flex;
  justify-content: space-between;

  .toggleBox {
    display: flex;
    align-items: center;
    gap: 1.6rem;

    .toggle {
      display: flex;
      align-items: center;
      padding: 0.5rem;
      width: 4.8rem;
      height: 2.4rem;
      border-radius: 12px;
      background-color: #ffffff;
    }
  }
}
