.checkbox {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  &__input {
    display: none;
  }
  &__box {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #19202d17;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  &__box::after {
    content: '\2713';
    color: #19202d00;
  }

  .checkbox__input:not(:checked) + .checkbox__box:hover {
    background-color: #5964e0;
    opacity: 0.25;
  }

  .checkbox__input:checked + .checkbox__box {
    background-color: #5964e0;
  }
  .checkbox__input:checked + .checkbox__box::after {
    color: #ffffff;
  }
}
