@import './variable';
:root {
  $md: 700px;
  --clr-primary-100: #5964e0;
  --clr-primary-300: #939bf4;
  --clr-primary-500: #19202d;
  --clr-primary-700: #121721;

  --clr-secondary-100: #ffffff;
  --clr-secondary-300: #f4f6f8;
  --clr-secondary-500: #9daec2;
  --clr-secondary-700: #6e8098;
}
[data-theme='dark'] {
  --clr-secondary-100: #19202d;
  --clr-secondary-300: #121721;
  --clr-primary-500: #ffffff;
  --clr-secondary-700: #9daec2;
}
*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
  font-family: 'Kumbh Sans', sans-serif;
  font-size: 1.6rem;
  line-height: 2.6rem;
}

h1 {
  font-size: 2.8rem;
  line-height: 3.4rem;
}

h2 {
  font-size: 2.4rem;
  line-height: 2.9rem;
}

h3 {
  font-size: 2rem;
  line-height: 2.4rem;
  font-weight: 700;
}

h4 {
  font-size: 1.4rem;
  line-height: 1.8rem;
}

a {
  text-decoration: none;
  font-size: 1.6rem;
  font-weight: 700;
}

input {
  border: none;
  outline: none;
  background-color: var(--clr-secondary-100);
}

input::placeholder {
  font-size: 1.6rem;
  color: var(--clr-primary-500);
  opacity: 0.5;
}

.App {
  background-color: var(--clr-secondary-300);
}

.circle {
  border-radius: 100px;
  background-color: var(--clr-primary-100);
  width: 1.4rem;
  height: 1.4rem;
}

.dot {
  width: 4px;
  height: 4px;
  border-radius: 100px;
  background-color: var(--clr-secondary-700);
}

.line {
  height: 1px;
  width: 100%;
  background-color: var(--clr-secondary-700);
}

.logo {
  width: 11.5rem;
  height: 3.2rem;
}

.logoContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 5rem;
  height: 5rem;
  border-radius: 15px;
  margin-top: -5.5rem;
}

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  z-index: 10;
  background-color: var(--clr-secondary-300);
  opacity: 0.7;
}

.modal {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 100;
  background-color: var(--clr-secondary-100);
  border-radius: 6px;
  margin: 0 2.4rem;
  padding: 2.4rem 0;

  form {
    display: flex;
    flex-direction: column;
    gap: 2.4rem;
    width: 100%;

    .location-filter {
      display: flex;
      gap: 1.6rem;
      input {
        border: none;
        outline: none;
        background-color: var(--clr-secondary-100);
      }

      input::placeholder {
        font-size: 1.6rem;
        color: var(--clr-primary-500);
        opacity: 0.5;
      }
    }
  }

  form > *:not(.line) {
    margin: 0 2.4rem;
  }
}

.times {
  display: flex;
  align-items: center;
  gap: 1.2rem;
  margin-top: 2.4rem;
}

.title {
  margin: 1.6rem 0;
}

.location {
  color: var(--clr-primary-100);
  font-size: 1.4rem;
  font-weight: 700;
  margin-top: 4.4rem;
}

.applyButton {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--clr-primary-100);
  border-radius: 5px;
  text-align: center;
  padding: 1.5rem;
  color: #ffffff;
  font-weight: 700;
  font-size: 1.6rem;
  border: none;
  flex: 1;

  @media only screen and (min-width: $md) {
  }

  a {
    color: #ffffff;
    width: 100%;
  }
}

.checkbox {
  display: flex;
  gap: 1.6rem;
  cursor: pointer;
  &__input {
    display: none;
  }
  &__box {
    width: 2.4rem;
    height: 2.4rem;
    background-color: #19202d17;
    border-radius: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-shrink: 0;
  }
  &__box::after {
    content: '\2713';
    color: #19202d00;
  }

  .checkbox__input:not(:checked) + .checkbox__box:hover {
    background-color: #5964e0;
    opacity: 0.25;
  }

  .checkbox__input:checked + .checkbox__box {
    background-color: #5964e0;
  }
  .checkbox__input:checked + .checkbox__box::after {
    color: #ffffff;
  }
}
